<div class="picture-frame-outer">
	<div class="picture-frame-inner">
		<%= image_tag("oheka_entrance.jpg", size: '210') %>
	</div>
</div>

<div class="content">

<div class='directions-header'> Driving Directions </div>

1) From Manhattan, head East across the Midtown Tunnel onto I-495 <br> <br>
2) Drive for about half an hour on I-495 <br> <br>
3) Take exit 45 toward Plainview/Woodbury <br> <br>
4) Almost immediately, turn right onto Manetto Hill Rd <br> <br>
5) Then turn right onto Woodbury Rd after 0.2 mi. <br> <br>
6) Stay on Woodbury Rd for 1.5 mi. and then turn right onto Jericho Turnpike <br> <br>
7) After another mile, turn left onto Westgate Dr. <br> 
--Be careful! It's easy to miss this turn because it looks like a residential community. There should be signs saying Oheka Castle on them. <br> <br>
8) Drive a few minutes to the end of Westgate Dr. and you'll see the castle gates. <br> <br>
9) Introduce yourself at the gate and come in for our wedding!!

<div class='map'>

<iframe
  width="100%"
  height="400px"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyDZUuH8Mn3az1lszzU3GD2pqz_Ileck6_A&origin=Tunnel+Entrance+St,NYC+NY&destination=Oheka+Castle,Huntington+NY&mode=driving" >
 </iframe>

</div>
</div>