<div class="picture-frame-outer">
	<div class="picture-frame-inner">
		<%= image_tag("LIRR2.jpg", size: '210') %>
	</div>
</div>

<div class="content">

<div class='directions-header'> Public Transport Directions </div>

1) Go to Penn Station on 7th Ave and 32nd St. <br> <br>
2) Take the Long Island Railroad Port Jefferson line towards Huntington, NY <br> <br>
3) Get off at the Cold Spring Harbor stop <br> <br>
4) Take a taxi to Oheka Castle (135 Westgate Dr, Huntington, NY 11743)

<div class='map'>

<iframe
  width="100%"
  height="400px"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyDZUuH8Mn3az1lszzU3GD2pqz_Ileck6_A&origin=Penn+Station,NYC+NY&destination=Oheka+Castle,Huntington+NY&mode=transit" >
 </iframe>

</div>

</div>