<div class="picture-frame-outer">
	<div class="picture-frame-inner">
		<%= image_tag("LIRR2.jpg", size: '210') %>
	</div>
</div>

<div class="content">

Dear guests, <br> <br>

 Welcome to Juan and Itelina’s wedding information website!  We are so excited to share this amazing day with all of you. <br> <br>

Feel free to browse through the tabs on the left to read about our story, find all logistics information related to our event,  and share a gift through our online registry. Please remember to submit your final RSVP before May 31st. <br> <br>

We want to thank all our family for the amazing support in putting this event together. Thank you mom and dad for spoiling us to death!! We also want to give special thanks our beautiful wedding party, some of whom are flying across the world to be at our special day.  Last and never the least, we want to thank our talented wedding planner, Gracie Foreman, for orchestrating a thousand moving pieces to make a dream wedding come true.  We are so lucky to have you Gracie!! Check out her website on www.preferredevents.net. 
<br> <br>

With much love, <br>
Itelina and Juan

</p>

</div>