<div class="picture-frame-outer">
	<div class="picture-frame-inner">
		<%= image_tag("oheka_castle.jpeg", size: '210') %>
	</div>
</div>

<div class="content">

<div class='directions-header'> Oheka Castle</div>

As per <a href="http://en.wikipedia.org/wiki/Oheka_Castle">Wikipedia</a>: <br> <br>
"Oheka Castle, also known as the Otto Kahn Estate, is located on the North Shore of Long Island, in Huntington, New York. It was the country home of financier and philanthropist Otto Kahn. The name Oheka is derived from Otto Hermann Kahn, and Kahn also used it for his yacht Oheka II. The mansion was built by Kahn between 1914 and 1919, and is the second largest private home in the United States, comprising 127 rooms and over 109,000 square feet, as originally configured. <br> <br>
The castle is currently a historic hotel with 32 guest rooms and suites on the upper floors of the mansion, a popular wedding venue for socialites, celebrities, and dignitaries, and the backdrop to many photo shoots and Hollywood films. The estate also offers tours of the estate and gardens. <br> <br>
In 2004, Oheka was listed on the National Register of Historic Places. Oheka Castle is a member of Historic Hotels of America, the official program of the National Trust for Historic Preservation." <br> <br>

Oheka Castle is located at 135 Westgate Dr, Huntington, NY 11743. <br> 
Directions are provided below. <br> <br>

<a href='/location/driving'> <button class="directions-btn"> Driving Directions </button> </a><a href='/location/transit'> <button class="directions-btn"> Public Transport</button> </a>

<div class='map'>

<iframe
  width="100%"
  height="400px"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDZUuH8Mn3az1lszzU3GD2pqz_Ileck6_A&q=Oheka+Castle,Huntington+NY" >
 </iframe>

</div>

</div>