<div class="picture-frame-registry-outer">
	<div class="picture-frame-registry-inner">
		<a href="http://www.wedandwish.com/juananditelina"> <%= image_tag("registry.jpg", size: '260x120') %> </a>
	</div>
</div>

<div class="registry">

<div class="content-registry">
	<div class="registry-header"> Our Registry </div>

	Please help us contribute to our new life together! <br>
	We love gifts!!! 
</div>

<iframe
  id='registry_iframe'
  width="100%"
  height="500px"
  frameborder="0"
  style="-webkit-transform:scale(0.9);-moz-transform-scale(0.9);border:0"
  src="http://www.wedandwish.com/juananditelina" >
 </iframe>

<div class="content-registry">

If the link above is broken or to checkout, go directly to our registry site: <br>
<a href="http://www.wedandwish.com/juananditelina" target='_blank'> http://www.wedandwish.com/juananditelina </a>

</div>

</div>